<div class="topic-selection form-control">
  <% Topic.all.each do |t| %>
    <span>
      <%= radio_button_tag(t.id, t.title ) %>
      <%= label_tag(t.id, t.title) %>
    </span>
  <% end %>
  <div>
    <%= link_to 'Edit Topics', topics_path %>
  </div>
</div>