
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">Jan Meckelholt</h3>
        <nav class="nav nav-masthead">
          <%= render "shared/nav", style: "nav-link" %>
          <%= login_helper("nav-link") %>
        </nav>
      </div>
    </div>


