<h1>Want to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Adress:</h3>

      <p>Jan Meckelholt</p>
      <p>Hornberger Str. 16</p>
      <p>71034 Böblingen</p>
      <p>Germany</p>
      <p><%= number_to_phone "01705555555" %></p>

    <h3>Email</h3>
    <p><a href="mailto:JanMeckelholt@googlemail.com?subject=Contact from Homepage" "email me">JanMeckelholt@gmail.com</a> </p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2634.8978172357147!2d9.005219015455868!3d48.66919692196352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799e092aea55ff5%3A0xd253f653fc905f5d!2sHornberger+Str.+16%2C+71034+B%C3%B6blingen!5e0!3m2!1sde!2sde!4v1494522713924" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

